<div class="header">
    <div class="banner_box">
        <div class="banner_main">
            <ul>
                <li class="logo">

                    <img src="/images/logo.jpg" align="absmiddle" alt="" style="width: 323px; height: 92px;" />

                </li>

                <li class="searchbox">

                    <input id="txtKeyWord" type="text" maxlength="100" /><input type="button" id="btnSearch" value="查 询"  onclick="SearchInfo.SelectGolbalInfo()" />


                </li>


            </ul>
        </div>

    </div>
    <div class="mainbox main_nav_box">
        <ul class="nav1">
            <li><a href="http://www.cpl.org.cn" target="_blank">首页</a></li>
            <li>@Html.ActionLinkArticleList("产业新闻", 14) </li>
            <li>@Html.ActionLinkArticleList("数据统计", 130) </li>
            <li>@Html.ActionLinkArticleList("医药仓储", "p27") </li>
            <li>@Html.ActionLinkArticleList("运输配送", "p82") </li>
            <li>@Html.ActionLinkArticleList("产业政策", 17)</li>
            <li>@Html.ActionLinkArticleList("标准规范", 16)</li>
            <li>@Html.ActionLinkArticleList("热点专题", 10)</li>
            <li>@Html.ActionLinkArticleList("行业之声", 9)</li>
            <li>@Html.ActionLinkArticleList("行业报告", 131)</li>
            <li class="last"><a  href="/PeiXun">行业培训</a></li>
        </ul>


    </div>


</div>



