@model MvcPager

     
@{

    List<phome_ecms_news> arr = new List<phome_ecms_news>();
    if (Model!=null && Model.NewsCollection.Count > 0)
    {
        
        arr = (List<phome_ecms_news>)Model.NewsCollection[0];
    } 
    
     }
    
    


           
<div class="member_btn_level_box s14">
    <a class="btn_member_level"  href="/member/index/413/" title="413" > 会长单位</a>
    <a class="btn_member_level" href="/member/index/414/" title="414"> 副会长单位</a>
    <a class="btn_member_level" href="/member/index/415/" title="415"> 常务理事单位</a>
    <a class="btn_member_level" href="/member/index/416/" title="416"> 理事单位</a>
    <a class="btn_member_level last" href="/member/index/417/"   title="417">会员单位</a>
  
</div>

    <table cellpadding="0" cellspacing="1" class="member_list_box">
        <tr>
            <th class="name">
                姓名
            </th>
            <th class="company">单位名称</th>
            <th class="job">单位职务</th>
        </tr>


        @foreach (phome_ecms_news m in arr)
        {
            <tr>
                <td class="name">@m.befrom</td>
                <td class="company"><a href="@m.titleurl" target="_blank">@m.title</a></td>
                <td class="job">@m.smalltext</td>
        </tr>
        }

    </table>

@Html.Partial("Pager", Model)


<script>


    $(document).ready(function () { setCurM() });
    function setCurM() {

         
       


        var curentcss = "cur_membergroup";
 
        var url = document.location.href;
        var navs = $(".btn_member_level");
        var isHaveSelected = false;


        for (var i = 0; i < navs.length; i++) {

            var item = $(navs[i]);
             title = $(item).attr("title");
             if (url.indexOf(title) >= 0) {

                 $(item).addClass(curentcss);
            
                 isHaveSelected = true;
             }
        }

        if (!isHaveSelected) {

            $(".btn_member_level[title=413]").addClass(curentcss);
        }
    }






</script>
